body {background-color: white}

p {color: black;
font-family: serif;
text-align: left;
margin-left: 1em}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:active {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

p.address {position:relative;
bottom:-10px;
}

h1 {color: black;
font-family: serif;
font-size: 175%;
text-align: center}

h2 {color: black;
font-family: serif;
font-size: 150%;
text-align: left;
margin-left: 1em}

h2.tshirts {color: red;
font-family: serif;
font-size: 150%;
text-align: left;
margin-left: 1em}

h3 {color: black;
font-family: serif;
font-size: 125%;
text-align: center}

ul {list-style: disc inside;
color: black}

div {color: black;
font-family: serif;
text-align: left;
margin-left: 2em}

li {line-height: 2em}
